h1 {
	text-align: center;
	font-size: 120%;
}
h2 {
	text-align: center;
	font-size: 110%;
}
p {
  	text-align: center;
  	width: 600;
}

html {
	background-color: #7B09D9;
}

body {
	margin: 1.5em auto;
	width: 66%;
	padding: 35px;
	background: center;
	background-color: #D97809;
	border: solid;
	border-color: silver;
}
