h1 {
	text-align: center;
	font-size: 120%;
}
h2 {
	text-align: center;
	font-size: 110%;
}
p {
  	text-align: center;
  	width: 600;
}

html {
	background-color: #8F02C5;
}

body {
	margin: 1.5em auto;
	width: 66%;
	padding: 15px;
	background: center;
	background-color: #D96409;
	border: solid;
	border-color: silver;
}
